<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.presidentasalfin">
    <!--
    ETIQUETA USADA PARA PODER ACCEDER EN ANDROID 11 A EL PAQUETE DE WHATS APP
    Y VALIDAR SI ESTA INSTALADO
    -->
    <queries>
        <package android:name="com.whatsapp" />
        <!-- se agrega para la camara -->
        <!--
        intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent
        -->
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- ETIQUETA USADA PARA PODER MOSTRAR LAS NOTIFICACIONES FLOTANTE EN PRIMER PLANO -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!-- se agrega para la camara 2da opcion-->
    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icono_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPresidenta">
        <activity
            android:name=".generales.CamaraActivity"
            android:exported="false" />
        <activity
            android:name="mx.com.presidentasalfin.submenu.BonificacionesActivity"
            android:exported="false" />
        <activity
            android:name="mx.com.presidentasalfin.submenu.RecuperarNIPActivity"
            android:exported="false" />
        <activity
            android:name="mx.com.presidentasalfin.DetalleJuntaActivity"
            android:exported="false" />
        <activity
            android:name="mx.com.presidentasalfin.submenu.MiCuentaActivity"
            android:exported="false" />
        <activity
            android:name="mx.com.presidentasalfin.NIPActivity"
            android:exported="false" />
        <activity
            android:name="mx.com.presidentasalfin.RegistroActivity"
            android:exported="false" />
        <activity
            android:name="mx.com.presidentasalfin.LoginActivity"
            android:exported="false" />
        <activity
            android:name="mx.com.presidentasalfin.JuntaConciliacionActivity"
            android:exported="false" />
        <activity
            android:name="mx.com.presidentasalfin.JuntaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mx.com.presidentasalfin.submenu.DetalleClienteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mx.com.presidentasalfin.submenu.HistorialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mx.com.presidentasalfin.submenu.CalculadoraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mx.com.presidentasalfin.navegacion.Navegacion"
            android:exported="false"
            android:label="@string/title_activity_navegacion"
            android:screenOrientation="portrait" />
        <activity
            android:name="mx.com.presidentasalfin.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="mx.com.presidentasalfin.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="mx.com.presidentasalfin"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- ETIQUETA USADA PARA LA CONFIGURACION Y RECEPCION DE NOTIFICACIONES CON FIREBASE -->
        <service
            android:name="mx.com.presidentasalfin.NotificacionesActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>